@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Zalando Sans', sans-serif;
  overflow-x: hidden;
}

@theme {
  --animate-shine: shine 1.5s ease-in-out infinite;

  @keyframes shine {
    0% { left: -100%; }
    100% { left: 100%; }
  }
}
